* {
    font-family: 'Lato', sans-serif;
}

body {
    /* background-image: url('../img/bg1.jpg'); */
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: fixed;
}

.container {
    background-color: #fff;
    padding: 0;
    border-radius: 15px;
}

div.mainJumboImage {
    background-image: url('../img/bg2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}