/* REMOVING HTML PAGE DEFAULT MARGIN AND PADDING */
*{
    margin: 0;
    padding: 0;
}

/* MAIN MAP STYLING */
.corona-map 
{
    width: 100vw; 
    height: 100vh;
}

/* MAP MARKERS */
.marker {
    cursor: pointer;
}

/* COUNTRY INFO */
.info-popup {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    padding: 15px;
    text-align: center;
    font-size: 150%;
    border-radius: 3px;
    display: none;
}

/* CUSTOM HELPERS */
.red {
    color: #ff0000;
    font-size: 75% !important;
}

.green {
    color: #b3ff00;
    font-size: 75% !important;
}