/* REMOVING HTML PAGE DEFAULT MARGIN AND PADDING */
*{
    margin: 0;
    padding: 0;
}

/* MAIN MAP STYLING */
.corona-map 
{
    width: 100vw; 
    height: 100vh;
}

/* MAP MARKERS */
.marker {
    cursor: pointer;
}

/* COUNTRY INFO */
.info-popup {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px;
    border-radius: 3px;
    color: #fff;
    display: none;
    background-color: #0000009f;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}